/* Declarando variáveis globais de estilo */
html{
    /* Cores */
    --branco: #f7f7f7;
    --roxo-escuro: #673dc0;
    --roxo: #884fff;
    --roxo-claro: #ba9aff;
    --btn-roxo-claro: #e8ddff;
    --preto: #222222;
    --cinza: #7c7c7c;
    --azul-claro: #c6f7ff;
    --vermelho: #d11e0a;
    --vermelho-claro: rgba(209, 94, 81, 0.582);
    --verde: #099B4B;
    /* Fonte */
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

h1.titulo{
    font-size: 2.5rem;
}

section.jogos, section.sobre{
    border-bottom: 2px solid var(--roxo);
}

h1.titulo::before{
    content: "|";
    margin-right: 10px;
    height: 20px;
    width: 5px;
}



section h1:nth-child(1){color: var(--roxo-escuro);}

h2.subtitulo{
    font-size: 2rem;
}

button:hover, a.link-jogo:hover{
    filter: brightness(1.2);
    transition: .4s;
}

/* Info */
.info-bk{
    background-color: var(--roxo-escuro);
    color: white;
    
}

.info{
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
}

/* Menu */
.menu-bk{
    background-color: var(--roxo);
    display: block;
}

.menu{
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu-logo a, .menu-nav a{
    color: white;
}

.menu-logo{
    font-size: 2.3rem;
    font-weight: bold;
}

.menu-nav{
    display: block;
}

.menu-nav ul{
    display: flex;
}

.menu-nav a{
    display: block;
    padding: 10px;
    font-size: 1.4rem;
    
}

.menu-dropdown::after{
    content: "\25BC";
    width: 3px;
    height: 13px;
}

.menu-nav .lista-jogos{
    display: none;
    position: relative;
}

.menu-nav .lista-jogos a{
    font-size: 1.2rem;
}

/* Conteúdo */
.conteudo{
    margin: 0 auto;
    max-width: 930px;
    padding: 60px 10px;
}

.conteudo p{
    font-size: 1.25rem;
    line-height: 1.4;
    color: var(--cinza);
    margin-bottom: 1rem;
}

/* Conteúdo - Seção Início */
.inicio .msg-inicio{
    color: var(--roxo-escuro);
    font-size: 1.8rem;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}

.inicio .msg-inicio::after{
    content: "|";
    margin-left: 5px;
    opacity: 1;
    animation: blink .8s infinite;
}

@keyframes blink {
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

/* Conteúdo - Seção Sobre*/

/* Conteúdo - Seção Jogos */
/* section.jogos > section:nth-child(2n + 1){
    display: flex;
} */

.jogo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.jogo:nth-child(1){
    grid-row: 1 / 2;
}

img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 3px 5px 10px var(--cinza);
}

.conteudo-jogo{
    display: flex;
    flex-wrap: wrap;
}

a.link-jogo{
    background-color: var(--roxo-escuro);
    color: var(--btn-roxo-claro);
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 5px;
}

/* Conteúdo - Seção Contato */
.contato{
    width: 100%;
    padding: 40px calc((100% - 960px)/2);
    background-color: var(--branco);
}

.form-contato{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.form-contato input, .form-contato textarea{
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    border: 2px solid var(--roxo-escuro);
    border-radius: 5px;
    padding: 5px 8px;
}

.form-contato .input{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    
}

label{
    color: var(--roxo-escuro);
    font-size: 1.35rem;
    font-weight: 700;
    margin: 7px 0;
}

input{
    height: 2.3rem;
}

input:focus, .form-contato textarea:focus{
    outline: 0;
}

input:valid, .form-contato textarea:valid{
    border: 2px solid var(--verde);
}

textarea{
    resize: none;
    height: 200px;
}

.form-contato .btn-form{
    background-color: var(--roxo-escuro);
    color: var(--btn-roxo-claro);
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0 30px;
    height: 2.5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 20px auto auto auto;
}

/* .input .erro{
    margin-top: 5px;
    padding: 3px 10px;
    border-radius: 5px;
    border: 2px solid var(--vermelho);
    background-color: var(--vermelho-claro);
    color: var(--vermelho);
    font-size: 1.25rem;
} */

/* Caixa de Diálogo */
.form-contato > .modal-confirmar{
    background-color: var(--azul-claro);
    border: 2px solid black;
    text-align: center;
    border-radius: 20px;
    max-height: 25vh;
    position: absolute;
    margin: 30vh 60px;
}

.modal-confirmar > .titulo-modal{
    font-size: 1.6rem;
}

.modal-confirmar button{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
}

.btn-denied{
    background-color: var(--vermelho);
}

.btn-confirm{
    background-color: var(--verde);
}

/* Rodapé */
.rodape{
    background-color: var(--roxo-claro);
    color: var(--roxo-escuro);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh;
    font-size: 1.4rem;
}

@media screen and (max-width: 768px){
    .rodape{
        font-size: 1rem;
    }
}

/* Botão de Voltar ao Topo */
.btn-topo{
    display: block;
    background-color: var(--roxo);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid var(--roxo);
    position: fixed;
    cursor: pointer;
    right: 5vh;
    bottom: 5vh;
}

.btn-topo span{
    transform: rotate(45deg);
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-topo.active{
    display: block;
    right: 5vh;
    bottom: 5vh;
}
